<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} | The STB Report</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<h1>The STB Report</h1>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/movies">Movies</a></li>
        		<li><a href="/games">Games</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>Clemson University, 2019</li>
        		<li><a href="https://github.com/STB-Report/STB-Report.github.io">Source</a></li>
			</ul>
		</footer>
	</body>
</html>
